/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        line-height: 1.6;
    }
}

.large {
  font-size: 18px;
}

@media(min-width:767px) {
  .large {
    font-size: 20px;
  }
}

.content {
  width: 75%;
  margin-top: 120px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.tagline {
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  line-height: 2;
}

.page {
  margin-top: 100px;
}

/* Sensing input form */

.main-input {
  margin-top: 40px;
}

.location-input {
  height: 3em;
}

.level-input {
  margin-bottom: 30px;
}

.error {
  text-align: left;
}

.padded {
  padding-top: 35px;
}

.scale {
  font-family: 'Montserrat', sans-serif;
}

label {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.label-container {
  position: relative;
}

.right {
  position: absolute;
  right: 0px;
}

.left {
  position: absolute;
  left: 0px;
}

/* custom colors for highlights */

#neg3:hover { background-color: #164671; color:white; }
#neg2:hover { background-color: #428bca; color:white; }
#neg1:hover { background-color: #9bbedc; color:white; }
#pos3:hover { background-color: #9c221f; color:white; }
#pos2:hover { background-color: #d9534f; color:white; }
#pos1:hover { background-color: #dd9593; color:white; }

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}

.background {
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Footer */

footer {
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}

/* Navbar */

.navbar {
  display: none;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  font-family: 'Montserrat',Helvetica,Arial,sans-serif;
  background-color: #fff;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-brand:focus {
  outline: 0;
}

.navbar-custom a {
  color: #000;
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: 0;
  background-color: rgba(255,255,255,.8);
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #000;
}

.navbar-toggle:focus,
.navbar-toggle:active {
  outline: 0;
}

@media(min-width:767px) {
  .navbar {
    display: block;
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: #fff;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
}

/* Sections */

.content-section {
  padding-top: 150px;
  padding-bottom: 200px;
}

@media(min-width:767px) {
  .content-section {
      padding-top: 200px;
  }
}


/* Responsive */

@media (max-width: 768px) {
  
  .background {
  background: url(../img/bg.jpg) no-repeat center center scroll; 
  }

  .callout {
  background: url(../img/callout.jpg) no-repeat center center scroll; 
  }

}

@media (max-width: 479px) {
  .scale {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .label-container {
    position: relative;
    padding-bottom: 2.4em;
  }
}

.transparent {
  background-color: rgba(245, 245, 245, 0.65);
}

.lead {
  font-family: 'Montserrat', sans-serif;
}

/* Bootstrap overrides */
.alert {
  padding: 8px;
  margin-bottom: 5px;
}
