{% extends 'base.html' %}


{% block content %}
<div class="header" id="top">
  <div class="vert-text">
  	<div class="container">
  		<div class="col-md-offset-4 col-md-4">
  			<div class="well">
	    		<p class="tagline capitalize centered">Login</p>

			    <form method="post">

			    	<div class="form-group">
			    		<input name="username" type="text" class="form-control" placeholder="Username"/></td>
			    	</div>
			    	
			    	<div class="form-group">
			    		<input name="password" type="password" class="form-control" placeholder="Password"/></td>
			    	</div>

			    	<div class="form-group">
			    		<input type="submit" class="btn btn-default"/>
			    	</div>

			    </form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}