{% extends 'admin/dashboard.html' %}

{% block page_styles %}
<link rel="stylesheet" type="text/css" href="/public/css/dashboard/main.css" media="screen" />
{% endblock %}

{% block sidebar %}
<li class="active">
    <div class="pointer">
        <div class="arrow"></div>
        <div class="arrow_border"></div>
    </div>
    <a href="/dashboard">
        <i class="fa fa-home"></i>
        <span>Home</span>
    </a>
</li>            
<li>
    <a href="/account">
        <i class="fa fa-user"></i>
        <span>Account</span>
    </a>
</li>
{% endblock %}

{% block page %}
<div class="row chart">
    <div class="col-md-12">
        <h4 class="clearfix pull-left">
            Data Visualization                         
        </h4>

        <form method="get" action="/dashboard">
            <select name="building" class="location-select form-control">
              <option label="Select a building" disabled></option>
              <option value="" label="Show All"></option>
              {% for b in buildings %}
              <option {% if b == building %}selected{%endif%}>
                {{ b }}
              </option>
              {% endfor %}
            </select>

            <input type="submit" value="Filter" class="btn btn-primary"></input>
        </form>

    </div>
    <div class="col-md-12">
        <div id="chart_container">
            <div id="y_axis"></div>
            <div id="chart"></div>
            <div id="legend"></div>
            <div id="slider"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script src="/public/js/vendor/d3.v3.js"></script>
<script src="/public/js/vendor/rickshaw.js"></script>

<!-- Rickshaw data visualization code -->
<script src="/public/js/dashboard-visualization.js"></script>
<script>
queryString = {% if building %} '?building={{ building }}'
              {% else %} '' {% endif %}
url = 'api/graph' + queryString;
$.ajax({
    dataType: 'json',
    url: url,
    success: createGraph
});
</script>
{% endblock %}