{% extends 'admin/dashboard.html' %}

{% block page_styles %}
<link rel="stylesheet" type="text/css" href="/public/css/dashboard/main.css" media="screen" />
{% endblock %}

{% block sidebar %}
<li>
    <a href="/dashboard">
        <i class="fa fa-home"></i>
        <span>Home</span>
    </a>
</li> 
<li class="active">
    <div class="pointer">
        <div class="arrow"></div>
        <div class="arrow_border"></div>
    </div>
    <a href="/rooms">
        <i class="fa fa-edit"></i>
        <span>Rooms</span>
    </a>
</li>           
<li>
    <a href="/account">
        <i class="fa fa-user"></i>
        <span>Account</span>
    </a>
</li>
{% endblock %}

{% block page %}
<div class="row chart">

    {% if msg %}
    <div class="alert alert-success alert-dismissable">
        <strong>{{ msg }}</strong>
        <ul>
            {% for modified_loc in modified_locs %}
            <li>{{ modified_loc }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="col-md-6">
        <h4 class="clearfix pull-left">
            Edit Rooms                         
        </h4>

        <form id="deleteRooms" method="get" action="/rooms">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="selectAll"/>
                    </th>
                    <th>
                        Building
                    </th>
                    <th>
                        Floor
                    </th>
                    <th>
                        Room
                    </th>
                </tr>
              </thead>
              <tbody>
                {% for location in locations %}
                <tr>
                    <td>
                        <input type="checkbox" name="location" value="{{ location.key().name() }}"/>
                    </td>
                    <td>
                        {{ location.building }}
                    </td>
                    <td>
                        {{ location.floor }}
                    </td>
                    <td>
                        {% if location.room %}
                        {{ location.room }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <input id="deleteRoomsButton" type="submit" class="btn btn-danger" value="Delete Rooms" disabled/>
        </form>
    </div>

    <div class="col-md-6">
        <h4 class="clearfix pull-left">
            Add Rooms
        </h4>
        <p>Enter rooms in the field below separated by a newline. The following
            formats are acceptable: "[building] [room]" and "[building] Floor [floor]".
        </p>
        <form id="addRooms" method="post" action="/rooms/add">
            <textarea name="rooms" rows="20" style="width: 100%; resize: none"></textarea>
            <input type="submit" class="btn btn-success" value="Add Rooms"/>
        </form>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script>
    var selectAllCheckbox = '#selectAll';
    var deleteRoomsForm = '#deleteRooms';
    var deleteRoomsButton = '#deleteRoomsButton';
    var deleteRoomsCheckboxes = deleteRoomsForm + " input:checkbox[name='location']";

    // Select all checkbox
    $(selectAllCheckbox).change(function() {
        var selectAllChecked = this.checked;
        $(deleteRoomsCheckboxes).each(function() {
            this.checked = selectAllChecked;
        });
    });

    // Disable the delete rooms button if nothing checked
    $(deleteRoomsForm + " input:checkbox").change(function() {
        var numChecked = 0;
        $(deleteRoomsForm + " input:checkbox").each(function() {
            if (this.checked) numChecked += 1;
        });
        $(deleteRoomsButton).prop("disabled", numChecked <= 0);
    });

    // Send rooms to be deleted with AJAX
    $(deleteRoomsForm).on("submit", function(event) {
        var locationKeys = [];
        $(deleteRoomsCheckboxes + ":checked").each(function() {
            locationKeys.push($(this).val());
        });

        $.ajax({
            url: '/rooms/delete',
            type: 'POST',
            data: JSON.stringify(locationKeys),
            dataType: 'json',
            async: false,
            contentType: 'application/json; charset=utf-8',
            sucess: function(response) {
                window.location.reload();
            }
        });
    });
</script>
{% endblock %}
