{% extends 'base.html' %}

{% block content %}

{% include 'nav.html' %}

<div class="header background" id="top">
  <div class="vert-text">
    <h1>Thermal Sensing</h1>

    <p class="tagline capitalize">How comfortable are you?</p>

    <div class="container">
      <div class="col-md-offset-3 col-md-6">
        <div class="well transparent main-input" id="content">

          {% if errors %}
          <div class="alert alert-danger error">
            {% for key in errors %}
            <p><strong>Error!</strong> {{ errors[key] }}
            {% endfor %}
          </div>
          {% endif %}

          <form action="/" class="padded" id="comfort" method="post" name="comfort">

            <div class="label-container">
              <label class="left">Cold</label>
              <label class="right">Hot</label>
            </div>

            <div class="level-input btn-group" data-toggle="buttons">
              <label class="btn btn-default btn-lg scale" id="neg3">-3
                <input name="level" type="radio" value="-3">
              </label>
              <label class="btn btn-default btn-lg scale" id="neg2">-2
                <input name="level" type="radio" value="-2">
              </label>
              <label class="btn btn-default btn-lg scale" id="neg1">-1
                <input name="level" type="radio" value="-1">
              </label>
              <label class="btn btn-default btn-lg scale" id="zero">0
                <input name="level" type="radio" value="0">
              </label>
              <label class="btn btn-default btn-lg scale" id="pos1">+1
                <input name="level" type="radio" value="+1">
              </label>
              <label class="btn btn-default btn-lg scale" id="pos2">+2
                <input name="level" type="radio" value="+2">
              </label>
              <label class="btn btn-default btn-lg scale" id="pos3">+3
                <input name="level" type="radio" value="+3">
              </label>
            </div>

            {% if location %}
            <div class="form-group">
              <input name="location" class="location-input form-control" value="{{ location }}">
            </div>
            {% else %}
            <div class="form-group" id="autocomplete"></div>
            {% endif %}


            <input class="btn btn-primary btn-block" value="Submit" type="submit"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'about.html' %}

{% endblock %}


{% block scripts %}
<script src="/public/js/vendor/complete.ly.1.0.1.js"></script>
<script src="/public/js/autocomplete-location.js"></script>
<script src="/public/js/scrolling-nav.js"></script>
{% endblock %}
