<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About This Project</h2>
            <p class="large">
                How many times have you walked into a classroom and it was uncomfortably warm or cold? Did you then open a window to compensate? Large commercial buildings are difficult to keep comfortable because the heating demand is strongly influenced by the occupants. For example, a classroom filled with 100 students requires a lot more ventilation than when it is empty. Unfortunately automatically sensing occupancy is a difficult task. However, almost everyone carries around a smartphone and can quickly and easily sense these environmental problems.
            </p>
            <p class="large">
                The idea behind participatory sensing is rather than design and build fancy (and expensive) occupancy sensors, we instead rely and the building’s occupants to participate in the sensing process. After all, the occupants are the ones that the building is trying to keep comfortable anyway.
            </p>
            <p class="large">
                You can find the full documentation for the application <a href="https://github.com/jcomo/thermal-sensing/tree/master/docs">here</a>.
            </p>
        </div>
    </div>
</section>